<form class="form-signin" name="loginForm" ng-submit="login()">
    <h2 class="form-signin-heading">Login</h2>
    <div class="form-group">
        <label for="inputEmail" class="control-label">Email</label>
        <input autocomplete="off" ng-model="loginUser.email" type="email" class="form-control" id="inputEmail" placeholder="Email address" required>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="control-label">Password</label>
        <input type="password" ng-model="loginUser.password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
    <!--<a class="btn btn-sm btn-primary ng-hide">Forgot my password</a>-->
</form>
