<!DOCTYPE html>
<html>
    <head>
        <title>Ninja SA</title>
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

        <link href="jqtouch.png" rel="apple-touch-icon-precomposed">
        <link href="jqtouch4.png" rel="apple-touch-icon-precomposed" sizes="114x114">
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body ng-app="ninjaApp">
        <nav class="navbar navbar-default" ng-controller="navbarCtrl" ng-cloak ng-show="isAuthenticated()" >
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" ng-click="showNav=true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ng-click="showNav=false" ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

            </div>

            <div class="navbar navbar-collapse collapse" ng-class="{'collapse': !showNav}">
              <ul class="nav navbar-nav">
                  <li ng-click="showNav=false"><a ui-sref="editUser({userId: currentUser._id })">My Details</a></li>
                  <li ng-click="showNav=false"><a ng-if="isInstructor" ui-sref="addUser">Add Ninja</a></li>
                  <li ng-click="showNav=false"><a ng-if="isInstructor" ui-sref="users">Ninjas</a></li>
                  <li ng-click="showNav=false"><a ng-if="isInstructor" ui-sref="addTechnique">Add a technique</a></li>
                  <li><a ng-click="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container" ng-cloak>
            <div class="ui-view-container">
               <div ui-view></div>
           </div>
            <div class="alert alert-{{ alert.type }} animated main-alert" ng-show="alert.show">
                <p>{{alert.message}}</p>
            </div>
             <div class="alert alert-danger offline-alert" ng-show="isOffline">
                 <p>You are offline</p>
             </div>
             <div class="loading" ng-show="loading()"></div>
        </div>

        <script src="js/master.min.js"></script>
    </body>
</html>
