<form class="form-horizontal" name="editUserForm" ng-submit="updateUser()">
  <fieldset>
  <a ui-sref="users" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
  </a>

    <h1>Edit Ninja</h1>

    <div class="form-group">
      <div class="col-lg-12">
        <label for="inputfName" class="control-label">First name</label>
        <input autocomplete="off" ng-model="user.firstName" type="text" class="form-control" id="inputfName" placeholder="First name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <label for="inputlname" class="control-label">Last name</label>
        <input autocomplete="off" ng-model="user.lastName" type="text" class="form-control" id="inputlName" placeholder="Last name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
      <label for="inputEmail" class="control-label">Email</label>
        <input autocomplete="off" ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <label for="inputDojo" class="control-label">Dojo</label>
        <input autocomplete="off" ng-model="user.dojo" type="text" class="form-control" id="inputDojo" placeholder="Dojo">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
      <label for="select" class="control-label">Level</label>
        <select class="form-control" id="select" ng-model="user.level" >
          <option value="9th-kyu">9th Kyu</option>
          <option value="8th-kyu">8th Kyu</option>
          <option value="7th-kyu">7th Kyu</option>
          <option value="6th-kyu">6th Kyu</option>
          <option value="5th-kyu">5th Kyu</option>
          <option value="4th-kyu">4th Kyu</option>
          <option value="3rd-kyu">3rd Kyu</option>
          <option value="2nd-kyu">2nd Kyu</option>
          <option value="1st-kyu">1st Kyu</option>
          <option value="1st-Dan">1st Dan</option>
          <option value="2nd-Dan">2nd Dan</option>
          <option value="3rd-Dan">3rd Dan</option>
          <option value="4th-Dan">4th Dan</option>
          <option value="5th-Dan">5th Dan</option>
          <option value="6th-Dan">6th Dan</option>
        </select>
      </div>
    </div>

    <!--<div class="form-group">
      <div class="col-lg-12">
      <label for="textArea" class="control-label">Notes</label>
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
  </div>-->

    <div class="form-group">
        <div class="checkbox col-lg-12">
          <input id="instructor" type="checkbox" ng-model="user.isInstructor">
          <label for="instructor">This Ninja is an instructor</label>
        </div>
    </div>

    <div class="form-group" ng-if="isAdmin">
        <div class="checkbox col-lg-12">
          <input id="admin" type="checkbox" ng-model="user.isAdmin">
          <label for="admin" > This Ninja is an administor</label>
        </div>
    </div>

    <div class="form-group button-group">
        <div class="col-lg-12">
            <a ng-if="isAdmin" ng-click="removeUser()" class="btn btn-danger pull-left">Remove Ninja</a>
            <button type="submit" ng-click="updateUser()" class="btn btn-success pull-right">Update Ninja</button>
        </div>
    </div>

  </fieldset>
</form>
