<form class="form-horizontal" name="userForm" ng-submit="updateUser(userForm.$valid)" novalidate>
  <fieldset>
      <a ui-sref="users" class="btn btn-primary pull-right">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
      </a>

    <h1 class="heading">{{ isStudent ? 'My' : user.firstName + "'s"}} Details</h1>

    <div ng-include="'views/users/user-details.tmpl.html'"></div>

    <div class="form-group button-group" ng-show="enabled">
        <div class="col-lg-12">
            <a ng-if="isAdmin" ng-click="removeUser()" class="btn btn-danger pull-left">Remove Ninja</a>
            <button type="submit" ng-click="updateUser()" class="btn btn-success pull-right">Update Ninja</button>
        </div>
    </div>

  </fieldset>
</form>
