<form class="form-horizontal" name="addTechniqueForm" ng-submit="addTechnique()">
  <fieldset>
    <h1>Add a Technique</h1>

    <div class="form-group">
      <div class="col-lg-12">
        <label for="name" class="control-label">Name of technique</label>
        <input type="text" class="form-control" id="name" placeholder="Technique name" ng-model="technique.name" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
      <label for="grade" class="control-label">Technique level / course</label>
        <select class="form-control" id="grade" ng-model="technique.group">
          <option value="9th-kyu">9th Kyu</option>
          <option value="8th-kyu">8th Kyu</option>
          <option value="7th-kyu">7th Kyu</option>
          <option value="6th-kyu">6th Kyu</option>
          <option value="5th-kyu">5th Kyu</option>
          <option value="4th-kyu">4th Kyu</option>
          <option value="3rd-kyu">3rd Kyu</option>
          <option value="2nd-kyu">2nd Kyu</option>
          <option value="1st-kyu">1st Kyu</option>
          <option value="grapping">Grappling</option>
          <option value="sai">Sai</option>
          <option value="kukri">Kukri</option>
          <option value="archery">Archery</option>
          <option value="shuriken">Shuriken</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <label for="category" class="control-label">Technique sub-category</label>
        <input ng-model="technique.category" type="text" class="form-control" id="category" placeholder="eg. Body holds or Rolls">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
      <label for="description" class="control-label">Description</label>
        <textarea class="form-control" rows="3" id="description" ng-model="technique.description"></textarea>
      </div>
    </div>

    <!--<div class="form-group">
      <div class="col-lg-12">
      <label for="videoUrl" class="control-label">Choose a video to upload</label>
        <input type="file" class="form-control" id="video" placeholder="Upload a video" onchange="angular.element(this).scope().uploadVideo()">
      </div>
  </div>-->

  <div class="progress" ng-show="uploading">
    <div id="progress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
     0%
    </div>
  </div>

    <div class="form-group button-group" ng-hide="uploading">
        <div class="col-lg-12">
            <a ui-sref="home" class="btn btn-default pull-left">Cancel</a>
            <button type="submit" class="btn btn-success pull-right">Add Techinque</button>
        </div>
    </div>

  </fieldset>
</form>
