<h1>Ninjas</h1>

<div class="form-group search">
  <div class="col-lg-12">
    <input type="search" ng-model="search" class="form-control" id="inputName" placeholder="Search by typing name, dojo or kyu">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
</div>

  <div class="list-group">
      <a ui-sref="editUser({userId: '{{ninja._id}}' })" ng-repeat="ninja in users | filter:search track by $index" ng-hide="!ninja.isActive" class=" clear list-group-item">
          <h4 class="list-group-item-heading">{{ ninja.firstName }} {{ ninja.lastName }}</h4>
          <p class="list-group-item-text">
              <strong>{{ ninja.dojo }}</strong>
              <span class="label label-primary pull-right" ng-class="{'label-danger': ninja.isAdmin}">{{ ninja.isAdmin ? 'Instructor' : ninja.level.replace('-', ' ') }}</span>
          </p>
      </a>
  </div>
